/* header */
.header {
        padding: 10px;
        font-family: 'Times New Roman', Times, serif;
        color: white;
        text-align: center; 
        list-style-position: inside;
        }

        h1{
            text-shadow: 0 0 10px red;
        }

        a:visited {
            color: orange;
            background-color: transparent;
            text-decoration: none;
          }
          
        a:hover {
            color: red;
            background-color: transparent;
            text-decoration: underline;
        }

        a{
            font-size: 110%;
            text-shadow: 5px 5px 5px blue;
            color:white;
        }

/* body */
body {
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
}

.header h1 {
    display: center;
    font-size: 60px;
}

img {
    width: 110%;
    border-radius: 100%;
    padding: 10px;
}

/* about me section */
.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px;
    padding: 5px;
    color: white;
}

.description h2{
    text-align: center;
    text-shadow: 0 0 10px red;
}

.description p{
    padding: 120px;
    font-size: 130%;
    text-shadow: 5px 5px 5px black;
}

/* projects section */
.container {
    padding: 80px;
    display: flex;
    flex-wrap:wrap;
    color: white;
    gap: 20px 20px; 
}

.container h2 {
    font-size: 250%;
    text-shadow: 0 0 10px red;
    padding: 80px;
    
}

.box1 {
    border-radius: 10px;
    border-style: solid;
    border-width: 10px;
    padding: 100px;
    width: 100%;
    flex: auto;
    background-image: url("../images/Cocktail-Master-Project-One_screenshot.png");
}

.box1 p{
    color: red;
}

.box2 {
    border-radius: 10px;
    border-style: solid;
    border-width: 10px;
    padding: 100px;
    width: 100%;
    flex: auto;
    background-image: url("../images/How-To-Make-Your-Kids-Hate-You-Project-2-Screenshot.png");
}

.box2 p{
    color: red;
}


.box {
    border-radius: 10px;
    border-style: solid;
    border-width: 10px;
    padding: 45px;
    flex: auto;
    text-align:center;
    background-image: url("../images/under_construction.jpg");
    background-position: fill;
}

/* contact me section */
.Other {
    padding: 10px;
}
  
.Other Style p{
    font-size: 175%;
    text-shadow: 5px 5px 5px blue;
}

.Other h2{
    font-size: 250%;
    text-shadow: 0 0 10px red;
    text-align: left;
}
    
.OtherStyle {
    padding: 60px;
    flex: auto;
    text-align: center; 
}

.OtherStyle header{
    text-shadow: 0 0 20px ;
    font-size: 250%;
}

.Other  img {
    max-width: 200px;
}

/* footer */
.footer {
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    color: white;
    padding: 100px;
}